<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"> -->
                <div class="col-lg-5 d-none d-lg-block bg-gradient-light">
                    <section id="anime">
                        <article>
                            <div class="bg-warning"></div>
                            <div class="bg-primary"></div>
                            <div class="bg-danger"></div>
                        </article>
                    </section>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" ng-submit="submitRegister()"
                            ng-class="{'was-validated': !checkPasswordMatch() || !checkPasswordMatch()}">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" ng-model="username"
                                    placeholder="Username" required ng-keyup="transformUsername()">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" ng-model="email"
                                    placeholder="Email Address" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" ng-model="password"
                                        placeholder="Password" required minlength="8"
                                        pattern="^(?=.*[!@#$%^&*])(?=.*[a-zA-Z0-9]).{8,}$">
                                    <div class="invalid-feedback" ng-show="!checkPasswordPattern()">
                                        {{ passwordErrorMessage }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" ng-model="rePassword"
                                        placeholder="Repeat Password" required minlength="8"
                                        pattern="^(?=.*[!@#$%^&*])(?=.*[a-zA-Z0-9]).{8,}$">
                                    <div class="invalid-feedback" ng-show="!checkPasswordMatch()">
                                        Passwords do not match
                                    </div>
                                </div>
                            </div>
                            <div class="showerror"></div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <!-- <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a> -->
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="#!/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="#!/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>