<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{h1}}</h1>

    <!-- DataTales Example -->
    <form id="eventoForm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Event Data
                    <a href="#!/events" class="text-success float-right" >
                        <i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Lita de Eventos"></i>
                    </a>
                </h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required ng-model="evento.name"
                        ng-keyup="genSlug()">
                </div>

                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" readonly ng-model="evento.slug">
                </div>

                <div class="form-group">
                    <label for="logo">Logo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" ng-if="evento.logo">
                            <a href="./img/events/{{evento.logo}}" target="_blank" data-toggle="modal"
                                data-target="#imageModal" class="input-group-text" id="inputGroupFileAddon01">
                                <i class="fa fa-images"></i>
                            </a>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" accept="image/*" ng-model="evento.newlogo">
                            <label class="custom-file-label" for="inputGroupFile01">File</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-6">
                        <label for="logo">Color Primario</label>
                        <div class="input-group">
                            <input type="color" class="form-control input-group-prepend col-1" id="colorPrimario"
                                name="colorPrimario" ng-model="evento.cpri">
                            <input type="text" class="form-control" id="colorPrimario" name="colorPrimario"
                                ng-model="evento.cpri">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="logo">Color Secundario</label>
                        <div class="input-group">
                            <input type="color" class="form-control input-group-prepend col-1" id="colorPrimario"
                                name="colorPrimario" ng-model="evento.csec">
                            <input type="text" class="form-control" id="colorPrimario" name="colorSecundario"
                                ng-model="evento.csec">
                        </div>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="register" name="register"
                        ng-model="evento.register">
                    <label class="form-check-label" for="register">Registro Habilitado</label>
                </div>

                <div class="form-group" ng-model="evento.rol_defoult" ng-if="evento.register">
                    <label for="roles">Seleccionar Rol</label>
                    <select class="form-control" id="roles" name="roles" ng-required="evento.register">
                        <option value="">Seleccione un Rol</option>
                        <option value="65866c64b4a50f76386164dc">Admin</option>
                        <option value="65866d56b4a50f76386164dd">Delegación</option>
                        <option value="65866d76b4a50f76386164de">Prensa</option>
                        <option value="65866d94b4a50f76386164df">Gestor</option>
                        <!-- Opciones de roles se llenarán dinámicamente -->
                    </select>
                </div>
            </div>
        <!-- </div>
        <div class="card shadow mb-4"> -->
            <div class="card-header">
                Campos Base de Registro
            </div>
            <div class="card-body">
                <div class="form-group" ng-repeat="campo in evento.campos">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="campo.name" placeholder="Nombre del campo"
                            required>
                        <input class="form-control" type="text" ng-model="campo.alias" placeholder="Alias del campo"
                            required>
                        <!-- Otros campos que necesites -->
                        <div class="input-group-prepend" role="button" ng-click="removeCampo($index)">
                            <span class="input-group-text text-danger">
                                <i class="fa fa-trash"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary float-right" ng-click="addCampo()">
                    <i class="fa fa-plus"></i>
                    Campo Base
                </button>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Crear Evento</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="" class="img-fluid" alt="Imagen SVG">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>