<div class="container-fluid ">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{h1}}</h1>

    <!-- DataTales Example -->
    <form id="eventoForm" ng-submit="submitUser()" method="post" enctype="multipart/form-data" autocomplete="off">
        <!-- <form id="eventoForm" ng-attr-action="{{ id ? 'api/update/event/' + id : 'api/create/event' }}" method="post"  enctype="multipart/form-data">-->
        <input type="hidden" name="token" value="{{token}}">
        <div class="card shadow mb-4 text-hidden">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Users Data
                    <a href="#!/users" class="text-success float-right">
                        <i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Lita de Usuarios"></i>
                    </a>
                </h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Username del Usuario" required ng-model="users.username">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email del Usuario"
                        ng-model="users.email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                        placeholder="Password del Usuario" ng-model="users.newPassword">
                    <small ng-if="users.password" id="passwordHelp" class="form-text text-muted">Solo llenar si se desea
                        cambiar la Password</small>

                </div>

                <div class="form-group">
                    <label for="newlogo">Picture</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" ng-if="users.picture">
                            <a href="./img/users/{{users.picture}}" target="_blank" data-toggle="modal"
                                data-target="#imageModal" class="input-group-text" id="inputGroupFileAddon01">
                                <i class="fa fa-images" data-toggle="tooltip" data-placement="top" title="Logo Actual">
                                </i>
                            </a>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="newPicture"
                                aria-describedby="inputGroupFileAddon01" accept="image/*" name="newPicture" ngf-select
                                ng-model="users.newPicture" ngf-accept="'image/*'">
                            <label class="custom-file-label" for="newlogo">{{users.newPicture.name || "Select
                                File"}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="roles">Rol de Usuario</label>
                    <select class="form-control" id="roles" name="rol_id" ng-model="users.rol_id.$oid" required>
                        <option value="" selected>Seleccione un Rol</option>
                        <option ng-repeat="rol in rols" alias="{{rol.alias}}" value="{{rol._id.$oid}}">{{rol.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{h1}}</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="" class="img-fluid" alt="Imagen SVG">
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>